$dummyColor: #eee;
$dummyColor2: #ddd;

.anker_name_header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: $headerHeight;
  background: $dummyColor;
}

.anker_name_banner {
  margin: $headerHeight 0 0 0;
  width: 100vw;
  height: 25vw;
  background: $dummyColor2;
}

.anker_name_banner_expanded_true {
  height: 65vh;
}

.anker_name_navi {
  width: 100vw;
  height: $headerHeight;
  background: $dummyColor;
}

@media all and (orientation: portrait){
  // ####### バナー #######
  .banner_expanded_true {
    height: 50vh;
  }
}
