// ####### バナー #######
.banner {
  overflow: hidden;
  position: relative; // 子要素をposition: absoluteするため
  margin: $headerHeight 0 0 0; // ヘッダーで隠れないようにずらす
  width: 100vw;
  height: 25vh;
  .banner-image {
    z-index: -1;
    position: absolute; top: 0; left: 0; // 兄弟要素と重なり合うように (左上ずめ)
    width: inherit;
    height: inherit;
    background: url('../images/banner.png') center/cover;
  }
  .banner-introduction {
    opacity: 0;
  }
  .banner-overlay {
    opacity: 1;
    position: absolute; top: 0; left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(#000, 0), rgba(#000, 0), rgba($themeColor_sub2, 0.6));
  }
}

@media all and (orientation: portrait){

  // ####### バナー #######
  .banner {
    margin: $portrait_headerHeight 0 0 0; // ヘッダーで隠れないようにずらす
    .banner-image {
      background: url('../images/banner.png') center/150% auto; // ちょっと拡大
    }
  }
}













// バナーに校章や、校名を表示する時のクラス


// ####### バナー #######
.banner_expanded_true {
  height: 65vh;
  .banner-introduction {
    opacity: 1;
    position: absolute; top: 0; left: 0; // 兄弟要素と重なり合うように (左上ずめ)
    justify-content: center; // 中央寄せ
    align-items: center; // 上に同じ
    width: 25vw;
    height: inherit;
    background: linear-gradient(90deg, rgba(#131328, 0.9), rgba(#1e1936, 0.75));
    * {
      margin: 1vw 0; // 子要素の間に微妙な隙間をつくる
    }
    .introduction-kosho {
      width: 16vw;
      height: 20vw;
      background: url('../images/kosho.png') center/contain no-repeat;
    }
    .introduction-schoolName {
      h2 {
        margin: 0;
        font-size: 2vw;
        font-weight: 300; // 細く
        color: #fff;
      }
      h1 {
        margin: 0;
        line-height: 3vw; // 行間を削る
        font-size: 3vw;
        font-weight: 400;
        color: #fff;
      }
    }
  }
  .banner-overlay {
    opacity: 0;
  }
}

@media all and (orientation: portrait){

  // ####### バナー #######
  .banner_expanded_true {
    height: 50vh;
    .banner-image {
      background: url('../images/banner.png') center/cover; // ちょっと拡大
    }
    .banner-introduction {
      position: absolute; bottom: 0; left: 0; // 兄弟要素と重なり合うように (左上ずめ)
      flex-direction: row;
      justify-content: flex-start; // 中央寄せ
      align-items: center; // 上に同じ
      width: 100vw;
      height: 15vh;
      background: linear-gradient(90deg, rgba(#131328, 0.9), rgba(#1e1936, 0.75));
      * {
        margin: 0 0 0 6vw; // 子要素の間に微妙な隙間をつくる
      }
      .introduction-kosho {
        // margin: 0 0 0 6vw;
        width: 9vh;
        height: 12vh;
        background: url('../images/kosho.png') center/contain no-repeat;
      }
      .introduction-schoolName {
        h2 {
          margin: 0;
          font-size: 3vh;
          font-weight: 400; // 細く
          color: #fff;
        }
        h1 {
          margin: 0;
          line-height: 5vh; // 行間を削る
          font-size: 5vh;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}
