// ####### コンテンツ & サイドバー のラッパー #######
.wrapper {
  width: 100vw;
  // height: auto;
  // height: 300vh;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}




// ####### グループ #######
.group {
  overflow: hidden;
  border-radius: $content_borderRadius; // 全部揃えるために共通化
  margin: $headerHeight / 3 0;
  width: inherit;
  justify-content: space-between;
  box-shadow: 0 0.5vh 2vh rgba(#2d2d2d, 0.25); // 影の色も太さもヘッダーと一緒
  & > .group-title {
    width: inherit;
    height: $headerHeight;
    background: $themeColor_sub;
    flex-direction: row;
    justify-content: center;
    i {
      // display: block;
      // margin: 0 0.5vw;
      color: #fff;
      font-size: $headerHeight / 2;
    }
    h2 {
      color: #fff;
      font-size: $headerHeight / 2;
    }
    *+ * {
      margin: 0 0 0 1vw;
    }
  }
  & > .group-content {
    padding: 1vw;
    width: $content_width - 1vw * 2; //幅+余白が$content_widthと等しくなるようにしてる
  }
}








// ####### コンテンツ #######
.content {
  margin: 1vw;
  width: $content_width;
  // height: 100vh;
  // background: #f5f5f5;
}






// ####### フッター #######
.footer {
  margin: $headerHeight 0 0 0;
  width: 100vw;
  height: $headerHeight * 2;
  background: $themeColor_sub2;
}
































@media all and (orientation: portrait){

  // ####### コンテンツ & サイドバー のラッパー #######
  .wrapper {
    margin: 2vw 0 0 0;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  // ####### グループ #######
  .group {
    border-radius: $portrait_content_borderRadius; // 全部揃えるために共通化
    margin: $portrait_headerHeight / 5 0;
    width: inherit;
    box-shadow: 0 0.5vh 2vh rgba(#2d2d2d, 0.25); // 影の色も太さもヘッダーと一緒
    & > .group-title {
      width: inherit;
      height: $portrait_headerHeight;
      i {
        font-size: $portrait_headerHeight / 2.25;
      }
      h2 {
        font-size: $portrait_headerHeight / 2.25;
      }
      *+ * {
        margin: 0 0 0 1vw;
      }
    }
    & > .group-content {
      // padding: 6vw;
      padding: 2vw;
      width: $portrait_content_width - 2vw * 2; //幅+余白が$content_widthと等しくなるようにしてる
    }
  }





  // ####### コンテンツ #######
  .content {
    margin: 1vw;
    width: $portrait_content_width;
  }



  // ####### フッター #######
  .footer {
    margin: $portrait_headerHeight 0 0 0;
    width: 100vw;
    height: $portrait_headerHeight * 2;
  }

}
