.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: -1vw;
    padding: 0 (102vw - $content_width - $sidebar_width) / 2;
    width: $content_width + $sidebar_width; //box-shadowで影を作るときに、端っこがかけないようにするための102
    height: $headerHeight;
    background: #fff;
    box-shadow: 0 0.5vh 2vh rgba(#2d2d2d, 0.25);
    flex-direction: row;
    .header-introduction {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      // align-self: flex-start;
      // height: $headerHeight * 1.2;
      // border-radius: 0 0 $content_borderRadius $content_borderRadius;
      height: inherit;
      padding: 0 1vw;
      flex: 1 1;
      // background: #eee;
      .introduction-kosho {
        position: relative;
        flex: 0 1 $headerHeight * 0.75;
        height: $headerHeight * 0.75;
        background: url('../images/kosho-black.png') center/contain no-repeat;
        a {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 11;
        }
      }
      .introduction-schoolName {
        margin: 0 0 0 1vw;
        h1 {
          color: #000;
          font-size: $headerHeight / 3;
          font-weight: 300;
        }
      }
    }
    .header-links {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex: 1 1;
      height: inherit;
      .links-link {
        position: relative;
        transition: 0.2s;
        cursor: pointer;
        flex-direction: row;
        flex: 1 1;
        height: $headerHeight * 0.9;
        border-left: solid 0.1vw rgba($themeColor_sub2, 0.1);
        border-right: solid 0.1vw rgba($themeColor_sub2, 0.1);
        color: $themeColor_sub2;
        font-size: $headerHeight / 3;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          flex: 2 2;
        }
        i {
          margin: 0 0.5vw 0 0;
          color: $themeColor_sub2;
          font-size: $headerHeight / 2;
        }
        a {
          display: block;
          position: absolute;
          z-index: 11;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          }
      }
      .links-link+ .links-link {
        border-left: none;
      }
      // .links-link_to_access {
      //   align-self: flex-start;
      //   flex: 0 2 25vw;
      //   height: $headerHeight * 1.5;
      //   background: $themeColor_main;
      //   border: none;
      //   border-radius: 0 0 $content_borderRadius $content_borderRadius;
      // }
    }
}


@media all and (orientation: portrait){

  .header {
      padding: 0 (102vw - ($portrait_content_width + $portrait_sidebar_width) / 2) / 2;
      width: ($portrait_content_width + $portrait_sidebar_width) / 2; //box-shadowで影を作るときに、端っこがかけないようにするための102
      height: $portrait_headerHeight;
      .header-introduction {
        height: inherit;
        padding: 0 1vw;
        flex: 1 1;
        // background: #eee;
        .introduction-kosho {
          flex: 0 1 $portrait_headerHeight * 0.75;
          height: $portrait_headerHeight * 0.75;
        }
        .introduction-schoolName {
          display: none;
          // margin: 0 0 0 1vw;
          // h1 {
          //   color: #000;
          //   font-size: $portrait_headerHeight / 3;
          //   font-weight: 300;
          // }
        }
      }
      .header-links {
        flex: 5 5;
        height: inherit;
        .links-link {
          flex: 1 1 15vw;
          height: $portrait_headerHeight * 0.9;
          font-size: $portrait_headerHeight / 3;
          i {
            margin: 0 1vw 0 0;
            font-size: $portrait_headerHeight / 2;
          }
        }
      }
  }


}
