// ####### ナビゲーター #######
.navi {
  padding: 0 (100vw - $content_width - $sidebar_width) / 2; //幅がwidthと合わせて100vwになるよう調整
  width: $content_width + $sidebar_width;
  height: $headerHeight; //ヘッダーと同じ太さに
  background: $themeColor_main;
  box-shadow: 0 0.5vh 2vh rgba(#2d2d2d, 0.25); // 影の色も太さもヘッダーと一緒
  flex-direction: row;
  align-items: center;
  .navi-link {
    overflow: hidden;
    position: relative;
    transition: 0.2s; //移り変わりに0.2sかかるように
    cursor: pointer;
    border-left:  solid $headerHeight / 40 rgba(#ffffff, 0.5); // リンク間の区切り
    border-right: solid $headerHeight / 40 rgba(#ffffff, 0.5); // 上に同じ
    flex-grow: 1; // 伸びる比率　スペースが余ってるときに割り当てられるスペースの割合 (このときは、みんな1だからみんな均等にフリースペースを分配)
    flex-shrink: 1; // 縮む比率　上のやつの足りないとき版
    height: $headerHeight * 0.9; // 高さを親要素より微妙に減らす (リンク間の区切りの上下を削るため)
    font-size: $headerHeight / 2;
    color: #fff;
    &:hover {
      flex-grow: 2; // ホバーされたら、伸びる！
    }
    a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      left: 0;
    }
  }
  .navi-link+ .navi-link { //.linkの次に来る.linkにだけ適用(最初の.link以外に適用するってこと)
    border-left: 0; //兄要素がいたら右側の縁を消す
  }
}







@media all and (orientation: portrait){

  // ####### ナビゲーター #######
  .navi {
    padding: 0 (100vw - ($portrait_content_width + $portrait_sidebar_width) / 2) / 2; //幅がwidthと合わせて100vwになるよう調整
    width: ($portrait_content_width + $portrait_sidebar_width) / 2;
    height: $portrait_headerHeight; //ヘッダーと同じ太さに
    .navi-link {
      border-left:  solid $portrait_headerHeight / 40 rgba(#ffffff, 0.5); // リンク間の区切り
      border-right: solid $portrait_headerHeight / 40 rgba(#ffffff, 0.5); // 上に同じ
      flex-grow: 1; // 伸びる比率　スペースが余ってるときに割り当てられるスペースの割合 (このときは、みんな1だからみんな均等にフリースペースを分配)
      flex-shrink: 1; // 縮む比率　上のやつの足りないとき版
      height: $portrait_headerHeight * 0.9; // 高さを親要素より微妙に減らす (リンク間の区切りの上下を削るため)
      &:hover {
        flex-grow: 2; // ホバーされたら、伸びる！
      }
      a {
        font-size: $portrait_headerHeight / 2.5;
      }
    }
    .navi-link_to_letter {
      display: none;
    }
    .navi-link_to_access {
      display: none;
    }
  }

}
