// ####### サイドバー #######
.sidebar {
  margin: 1vw;
  width: $sidebar_width;
  // height: 100vh;
  // background: #eee;
}

.group_block_sidebar {
  .group-title {
    background: $themeColor_main;
  }
  .group-content {
    width: $sidebar_width - 1vw * 2; //幅+余白が$sidebar_widthと等しくなるようにしてる
  }
}


.externalLinks-link {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s;
  width: 100%;
  height: $headerHeight;
  background: $themeColor_contentBg;
  border-radius: $content_borderRadius; // 揃えるために共通化
  flex-direction: row;
  justify-content: flex-start;
   &:hover {
     background: #eee;
     * {
       transition: inherit;
     }
     .link-link {
       flex: 5 5;
     }
   }
   .link-icon {
     flex: 2 2;
     height: inherit;
     background: $themeColor_sub2;
     i {
       color: #fff;
       font-size: $headerHeight / 2;
       text-decoration: none;
     }
   }
   .link-link {
     flex: 7 7;
     height: inherit;
     flex-direction: row;
     justify-content: flex-start;
     color: $themeColor_sub2;
     font-size: $headerHeight / 3;
     padding: 0 0 0 1vw;
   }
   a {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1;
     width: 100%;
     height: 100%;
   }
}
.externalLinks-link+ .externalLinks-link {
  margin: 0.5vw 0 0 0;
}










@media all and (orientation: portrait){

  .sidebar {
    margin: 1vw;
    width: $portrait_sidebar_width;
  }

  .group_block_sidebar {
    .group-content {
      width: $portrait_sidebar_width - 2vw * 2; //幅+余白が$sidebar_widthと等しくなるようにしてる
    }
  }

  .externalLinks-link {
    width: 100%;
    height: $portrait_headerHeight;
    border-radius: $portrait_content_borderRadius; // 揃えるために共通化
     &:hover {
       .link-link {
         flex: 6 6;
       }
     }
     .link-icon {
       flex: 2 2;
       height: inherit;
       i {
         font-size: $portrait_headerHeight / 2;
       }
     }
     .link-link {
       flex: 7 7;
       height: inherit;
       font-size: $portrait_headerHeight / 3;
       padding: 0 0 0 2vw;
     }
  }
  .externalLinks-link+ .externalLinks-link {
    margin: 2vw 0 0 0;
  }

}
