// 変数定義
// $themeColor_main: linear-gradient(90deg, #FD6E6A, #FFC600);
$themeColor_main: linear-gradient(90deg, #f78d8b, #f4c629);
$themeColor_main_avg: #F6AA61;
$themeColor_sub:  linear-gradient(90deg, #736EFE, #5EFCE8);
$themeColor_sub_avg: #6EB6F3;
$themeColor_sub2: #131328;
$themeColor_sub2_lighter: #2c2c3d;
$themeColor_sub2_middle: linear-gradient(90deg, #242433, #323245);
$themeColor_navy: linear-gradient(90deg, #434a70, #5b6b99);
$themeColor_green: linear-gradient(90deg, #aad248, #7cc632);
$themeColor_pink: #d55179;

$themeColor_contentBg: #f3f3f3;
// $themeColor_sub2: ;
$content_width: 60vw;
$content_borderRadius: $content_width / 75; // 全部揃えるために共通化
$sidebar_width: 20vw;
$headerHeight: 6vh;


$portrait_content_width: 95vw;
$portrait_content_borderRadius: $content_width / 20; // 全部揃えるために共通化
$portrait_sidebar_width: 95vw;
$portrait_headerHeight: 7.5vh;
