<div class="banner">
  <div class="banner-image"></div>
  <div class="banner-introduction flex">
    <div class="introduction-kosho"></div>
    <div class="introduction-schoolName">
      <h2>ひたちなか市立</h2>
      <h1>那珂湊中学校</h1>
    </div>
  </div>
  <div class="banner-overlay"></div>
</div>
