<div class="header flex">
  <div class="header-introduction flex">
    <div class="introduction-kosho"><a href="./index.html"></a></div>
    <div class="introduction-schoolName"><h1>茨城県ひたちなか市立那珂湊中学校</h1></div>
  </div>
  <div class="header-links flex">
    <div class="links-link flex">
      <i class="icon-envelop"></i>
      おたより
      <a href="./latter.html"></a>
    </div>
    <div class="links-link links-link_to_access flex">
      <i class="icon-location"></i>
      アクセス
      <a href="./access.html"></a>
    </div>
  </div>
</div>
