<!-- <div class="navi flex">
  <div class="navi-link navi-link_to_home flex">  <a href="./index.html">ホーム</a></div>
  <div class="navi-link flex">                    <a href="https://www.google.com">学校概要</a></div>
  <div class="navi-link flex">                    <a href="https://www.google.com">学校沿革</a></div>
  <div class="navi-link navi-link_to_letter flex"><a href="./latter.html">おたより</a></div>
  <div class="navi-link navi-link_to_access flex"><a href="./access.html">アクセス</a></div>
</div> -->

<div class="navi flex">
  <div class="navi-link navi-link_to_home flex">  ホーム  <a href="./index.html"></a></div>
  <div class="navi-link flex">                    学校概要<a href=""></a></div>
  <div class="navi-link flex">                    学校沿革<a href=""></a></div>
  <div class="navi-link navi-link_to_letter flex">おたより<a href="./latter.html"></a></div>
  <div class="navi-link navi-link_to_access flex">アクセス<a href="./access.html"></a></div>
</div>
