<div class="sidebar flex">

  <div class="group group_block_sidebar group_name_history flex">
    <div class="group-title flex"><i class="icon-history"></i><h2>更新履歴</h2></div>
    <div class="group-content flex">
      <h3>2084/5/8 更新しました</h3>
    </div>
  </div>

  <div class="group group_block_sidebar group_name_externalLinks flex">
    <div class="group-title flex"><i class="icon-link"></i><h2>リンク</h2></div>
    <div class="group-content flex">
      <div class="externalLinks-link flex">
        <div class="link-icon flex"><i class="icon-ibaraki-kensho"></i></div>
        <div class="link-link flex">茨城県</div>
        <a href="http://www.pref.ibaraki.jp/"></a>
      </div>
      <div class="externalLinks-link flex">
        <div class="link-icon flex"><i class="icon-ibaraki-kensho"></i></div>
        <div class="link-link flex">県教育委員会</div>
        <a href="http://www.edu.pref.ibaraki.jp/board/"></a>
      </div>
      <div class="externalLinks-link flex">
        <div class="link-icon flex"><i class="icon-hitachinaka-shisho"></i></div>
        <div class="link-link flex">ひたちなか市</div>
        <a href="https://www.city.hitachinaka.lg.jp/"></a>
      </div>
      <div class="externalLinks-link flex">
        <div class="link-icon flex"><i class="icon-hitachinaka-shisho"></i></div>
        <div class="link-link flex">市教育委員会</div>
        <a href="https://www.city.hitachinaka.lg.jp/soshiki/15/4/1820.html"></a>
      </div>
      <div class="externalLinks-link flex">
        <div class="link-icon flex"><i class="icon-office"></i></div>
        <div class="link-link flex">サイトポリシー</div>
        <a href="./policy.html"></a>
      </div>
    </div>
  </div>

</div>
