@import './template.scss';

.group_name_location {
  .group-content {
    align-items: stretch;
    flex-direction: row;
    .location-text, .location-map {
      flex: 1 1;
      height: inherit;
    }
    .location-text {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      .text-piece {
        padding: 1vw;
        // width: 100%;
        // height: 10vh;
        background: $themeColor_contentBg;
        border-radius: $content_borderRadius;
        align-items: flex-start;
        .piece-key {
          flex-direction: row;
          justify-content: flex-start;
          * {
            margin: 0;
            font-size: 2vh;
            color: #888;
            font-weight: 300;
          }
          *+ * {
            margin: 0 0 0 0.5vw;
          }
        }
        .piece-value {
          * {
            margin: 0;
            line-height: 4vh;
            font-size: 4vh;
            color: #111;
          }
        }
      }
      .text-piece_valueTextSize_small {
        .piece-value {
          * {
            font-size: 3vh;
          }
        }
      }
      .text-piece+ .text-piece {
        margin: 0.5vw 0 0 0;
      }
    }
    .location-map {
      margin: 0 0 0 0.5vw;
      background: $themeColor_contentBg;
      border-radius: $content_borderRadius;
      overflow: hidden;
      position: relative;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media all and (orientation: portrait){

  .group_name_location {
    .group-content {
      flex-direction: column;
      .location-text, .location-map {
        flex: 1 1 40vh;
        width: inherit;
      }
      .location-text {
        .text-piece {
          padding: 2vw;
          border-radius: $portrait_content_borderRadius;
        }
        .text-piece_valueTextSize_small {
          .piece-value {
            * {
              font-size: 3vh;
            }
          }
        }
        .text-piece+ .text-piece {
          margin: 2vw 0 0 0;
        }
      }
      .location-map {
        margin: 2vw 0 0 0;
      }
    }
  }

}
