@import './template.scss';

.group_name_latter {
  .group-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1vw;
    .latter-category {
      // margin: 1vw;
      width: 100%;
      // height: 30vh;
      // border: 0.1vw solid $themeColor_contentBg;
      // border-radius: $content_borderRadius;
      // overflow: hidden;
      // background: #eee;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      & > .category-title {
        box-shadow: 0 0.5vh 1.5vh rgba(#2d2d2d, 0.1);
        width: 100%;
        height: $headerHeight;
        background: $themeColor_green;
        border-radius: $content_borderRadius;
        h3 {
          color: #fff;
          font-size: $headerHeight / 2.5;
        }
      }
      & > .category-content {
        margin: 1vw 0 0 0;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1vw;
        .content-piece {
          position: relative; // aタグでおおうため
          display: grid;
          grid-template-rows: 2fr 1fr;
          overflow: hidden;
          border-radius: $content_borderRadius;
          box-shadow: 0 0.5vh 3vh rgba(#2d2d2d, 0.1);
          width: 100%;
          height: 15vh;
          // background: #eee;
          &:hover {
            // box-shadow: 0 0.5vh 3vh rgba(#2d2d2d, 0.3);
            .piece-thumbnail {
              filter: brightness(0.9);
              canvas, img {
                transform: scale(1.25);
              }
            }
          }
          .piece-thumbnail {
            transition: 0.2s;
            overflow: hidden;
            background: $themeColor_contentBg;
            canvas, img {
              display: block;
              transition: inherit;
            }
            .landscape {
              width: 100%;
              height: auto;
            }
            .portrait {
              width: auto;
              height: 100%;
            }
          }
          .piece-title {
            padding: 0 0 0 1vw;
            flex-direction: row;
            justify-content: flex-start;
            background: $themeColor_pink;
            color: #fff;
            font-size: calc(15vh / 3 / 2);
          }
          & > a {
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &.content-piece_unclickable_true {
            filter: brightness(0.9);
            & > a {
              display: none;
            }
          }
        }
      }
    }
  }
}





@media all and (orientation: portrait){
  .group_name_latter {
    .group-content {
      grid-gap: 8vw;
      .latter-category {
        & > .category-title {
          height: $portrait_headerHeight;
          box-shadow: 0 0.5vh 3vh rgba(#2d2d2d, 0.25);
          border-radius: $portrait_content_borderRadius;
          h3 {
            font-size: $portrait_headerHeight / 2.5;
          }
        }
        & > .category-content {
          margin: 2vw 0 0 0;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 2vw;
          .content-piece {
            // border: 0.2vw solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5vh 3vh rgba(#2d2d2d, 0.25);
            grid-template-rows: 2fr 1fr;
            border-radius: $portrait_content_borderRadius;
            height: 17.5vh;
            &:hover {
              .piece-thumbnail {
                filter: brightness(0.9);
                canvas, img {
                  transform: scale(1.25);
                }
              }
            }
            .piece-thumbnail {
              canvas, img {
                width: 100%;
                height: auto;
              }
            }
            .piece-title {
              padding: 0 0 0 3vw;
              font-size: calc(17.5vh / 3 / 2);
            }
          }
        }
      }
    }
  }
}
