@import './template.scss';

// ###### 固有のもの #######

.wrapper {
  margin: 2vw 0 0 0;
}

.group_name_news {
  .group-content {
    // height: 50vh;
    flex-direction: row;
    align-items: stretch;
  }
}
.news-photo {
  overflow: hidden;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  div { // imgむき出しだと謎の余白がでちゃうから、divで囲んでoverflow: hiddenで見えなくする
    overflow: hidden;
    margin: 0;
    flex: 1 1 30vh;
    img {
      border-radius: 2%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  div+ div {
    margin: 2vw 0 0 0;
  }
}

.news-text {
  margin: 0 0 0 2vw;
  overflow: hidden;
  flex: 1 1;
  height: inherit;
  justify-content: flex-start;
  align-items: flex-start;

  color: #333;
  font-size: 1.25vw;
}



.schedule-container {
  // box-shadow: 0 0.25vh 2vh rgba(#2d2d2d, 0.2);
  overflow: hidden;
  width: inherit;
  // height: $headerHeight;
  background: $themeColor_contentBg;
  border-radius: $content_borderRadius; // .groupと一緒
  flex-direction: row;
  align-items: stretch;
  .container-when {
    // height: inherit;
    flex: 3 3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .when-piece {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: $headerHeight;
      * {
        overflow: hidden;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h3 {
          margin: 0;
          color: $themeColor_contentBg;
          font-size: $headerHeight / 2;
          span {
            color: rgba(#ffffff, 0.3);
          }
        }
      }
      .piece-day {
        flex: 0 1 $headerHeight;
        height: inherit;
        background: $themeColor_sub2_lighter;
      }
      .piece-day_color_blue {
        background: #436ce4;
      }
      .piece-day_color_red {
        background: #e44365;
      }
      .piece-date {
        flex: 2 2;
        height: inherit;
        // background: linear-gradient(90deg, #736EFE, $themeColor_sub_avg);
        // background: linear-gradient(-90deg, #8dd475, #5ba85c);
        background: $themeColor_navy;

      }
    }
    .when-piece+ .when-piece {
      .piece-date {
        // border-top: solid $headerHeight / 40 rgba($themeColor_sub2_lighter, 0.75);
        border-top: solid $headerHeight / 40 rgba(#ffffff, 0.2);

      }
    }
  }
  .container-todo {
    padding: 0 2vw;
    flex: 10 10;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $themeColor_sub2;
    font-size: $headerHeight / 3;
  }
}
.schedule-container+ .schedule-container {
  margin: 0.4vw 0 0 0;
}




// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################
// ################################################################

@media all and (orientation: portrait){





  // ###### 固有のもの #######
  .group_name_news {
    .group-content {
      // height: 50vh;
      flex-direction: column;
      align-items: center;
    }
  }
  .news-photo {
    width: 100%;
    flex: 1 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    div { // imgむき出しだと謎の余白がでちゃうから、divで囲んでoverflow: hiddenで見えなくする
      overflow: hidden;
      margin: 0;
      flex: 1 1;
      img {
        border-radius: 2%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    div+ div {
      margin: 0 0 0 2vw;
    }
  }

  .news-text {
    margin: 3vw 0 0 0;
    overflow: hidden;
    flex: 1 1;
    height: inherit;
    justify-content: flex-start;
    align-items: flex-start;

    color: #333;
    font-size: 4vw;
  }



  .schedule-container {
    border-radius: $portrait_content_borderRadius; // .groupと一緒
    .container-when {
      // height: inherit;
      flex: 4 4;
      .when-piece {
        width: 100%;
        height: $portrait_headerHeight;
        * {
          h3 {
            font-size: $portrait_headerHeight / 2.5;
          }
        }
        .piece-day {
          flex: 0 1 $portrait_headerHeight;
          height: inherit;
        }
        .piece-date {
          flex: 2 2;
          height: inherit;
        }
      }
      .when-piece+ .when-piece {
        .piece-date {
          // border-top: solid $portrait_headerHeight / 40 rgba($themeColor_sub2_lighter, 0.75);
        }
      }
    }
    .container-todo {
      padding: 0 4vw;
      flex: 5 5;
      height: inherit;
      font-size: $portrait_headerHeight / 3;
    }
  }
  .schedule-container+ .schedule-container {
    margin: 1vw 0 0 0;
  }


}
