@import '../include/_variable.scss';

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Sawarabi Gothic";
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


// ####### 共通部分のインポート #######
@import '../include/anker.scss';
@import '../icomoon/_icomoon.scss';
@import '../include/_header.scss';
@import '../include/_banner.scss';
@import '../include/_content.scss';
@import '../include/_navi.scss';
@import '../include/_sidebar.scss';
