@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon/icomoon.eot?esa0if');
  src:  url('../icomoon/icomoon.eot?esa0if#iefix') format('embedded-opentype'),
    url('../icomoon/icomoon.ttf?esa0if') format('truetype'),
    url('../icomoon/icomoon.woff?esa0if') format('woff'),
    url('../icomoon/icomoon.svg?esa0if#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ibaraki-kensho:before {
  content: "\e900";
}
.icon-hitachinaka-shisho:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-history:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-link:before {
  content: "\e9cb";
}
